<RS.Container>
  <RS.Row style={ {marginTop: '1em'} }>

    <RS.Col lg="2">
      <Link id="back-button" to="/posts">
        {t('post.btn.back')}
      </Link>
		</RS.Col>

    <RS.Col lg="6">
		</RS.Col>

    <RS.Col lg="2">
    { currentUser && (currentUser.id == post.authorId) ? (
    <div className="btn-group" role="group" aria-label="Owner options">
      <button type="button" className="btn btn-primary">
        <Link to={"/post/edit/" + post.id } className="text-white">
          {t('post.btn.edit')}
        </Link>
      </button>
      <button type="button" className="btn btn-danger" onClick={() => postDelete(post.id)}>
          {t('post.btn.delete')}
      </button>
    </div>
    ) : "" }
		</RS.Col>
  </RS.Row>
	<div className="row justify-content-center">
    <RS.Col lg="8">
			<h1>{ post.title }</h1>
      <h6>by { post.author ? post.author.username : "???"} { post.published ? " - Published" : " - Draft" }</h6>
			<hr />
			<pre>{ post.content }</pre> 
			<hr />
      <h3>Comments</h3>
      <RS.ListGroup>
      { post.comments.map( c => {
      return (
        <RS.ListGroupItem key={c.id}>
          {c.author.username} says: "{c.content}"
        </RS.ListGroupItem>
      )
      } ) }
      </RS.ListGroup>
		</RS.Col>
	</div>
</RS.Container>

