<RS.Navbar className="bg-dark">
  <RS.Container>
    <RS.Nav>
      <NavLink to="/" className="navbar-brand">
        <img src="https://hofstadter.io/images/hof-logo.png"
             style={{height: '1.4em', marginTop: '-1em'}}
        />
      </NavLink>

      <NavLink to="/about" className="nav-link" activeClassName="active">
        About
      </NavLink>
      <NavLink to="/contact" className="nav-link" activeClassName="active">
        Contact
      </NavLink>
    </RS.Nav>

    <RS.Nav className="justify-content-end">
      <NavLink to="/login" className="nav-link" activeClassName="active">
        Sign in
      </NavLink>
      <LanguagePicker />
    </RS.Nav>
  </RS.Container>
</RS.Navbar>

