#styled-navbar {
  color: #eeeeeF;
  background: #303030;
  a {
    color: #eeeeeF;
    &.navbar-brand {
      color: #eeeeeF;
      &.active {
        color: #eeeeeF;
      }
    }
    &:hover {
      color: #0000ff;
      &.active {
        color: #0000aa;
      }
    }
    &.active {
      color: #aaaaaa;
    }
  }
}
